<div class="homepage">
  <div class="nav-bar">
    <div id="header">
      <h3>Anonymous</h3>
    </div>
    <div id="menu-toggle" class="open">
      <span class="oi" data-glyph="icon-name" title="icon name" aria-hidden="true"></span>
      <!-- picture here  -->blarh
    </div>
      <ul id="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
      </ul>
    </div>
  </div>
</div>
