<div class="homepage">
  <div class="nav-bar">
    <div class="header">
      <h3>Anonymous</h3>
    </div>
    <div class="menu-toggle">
      <img alt="menu" src="/assets/menu-6x.png">
    </div>
      <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </div>
  <div class="secrets">
    <a href="/posts">Share Secrets</a>
  </div>
</div>
