// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: url('homepage.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-toggle {
  height: 100px;
  width: 100px;
  float: right;
  margin-top: 20px;
}

.menu-toggle:hover{
  cursor: pointer;
}

.nav-list {

  position: relative;
  right: 1.25em;
  display: none;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

.nav_list_items{
  background: rgba(211, 198, 198, 0.8);
  padding: 10px;
  text-align: left;

}

.nav_list_items:hover {
  background: #555;
  color: #fff;

}
.nav_list_items a:hover{
  color: white
}

.nav_list_items a {
  font-size: 1.5em;
}

a {
  color:black;
  font-size:1em;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

header {
  font-size: 1em;
  padding-left: 3em;
  width: 20%;
  float: left;
}

.secrets {
  position:relative;
  top: 20em;
  left: 5em;
  margin: auto;
  text-align: center;
}

.secrets a {
  font-size: 2em;
  margin-right: 2.7em;
  text-decoration: none;
  border: solid black .190em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .2em;
  color: black;
  width: 40%;
}
