// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  position:absolute;
  height: 1080px;
  width: 1920px;
  background: url('homepage.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-toggle {
  height: 100px;
  width: 100px;
  float: center;
}

.menu-toggle:hover{
  cursor: pointer;
}
.nav-bar {
  position:relative;
}

.nav-list {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li{
  background: #fff;
}

ul li:hover {
  background: #555;
  color: #fff;
}

a {
  text-decoration:none;
}

.header {
  float:left;
  font-size: 1em;
  padding-left: 3em;
}

.secrets {
  position:relative;
  top:30em;
  height: 400px;
  margin: auto;
  text-align: center;
  visibility: visible;
}

.secrets a {
  font-size: 2em;
  margin-right: 2.7em;
  text-decoration: none;
  border: solid black .190em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .2em;
  color: black;
  width: 40%;
}
