.new_post {
  position:relative;
  top:20em;
  height: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
}

.new_post input, textarea {
  font-size: 1em;
  height: 20px;
  border-radius: 5px;
  border: solid rgb(75, 78, 79) .190em;
  background: rgba(255,255,255,0.3)
}

.new_post textarea {
  width: 300px;
  height: 200px;
}

 input[type=submit] {
  opacity: 1;
  font-size: 1em;
  
  height: 30px;
  text-decoration: none;
  border: solid rgb(75, 78, 79) .190em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .2em;
  color: black;
  width: 40%;
  margin: 10px;
}

::-webkit-input-placeholder {
  color: #637370;

}

:-moz-placeholder { /* Firefox 18- */
  color: #637370;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #637370;
}

:-ms-input-placeholder {
  color: #637370;
}

.posts, .single-post {
  position: relative;
  left: 37%;
  width: 30%;
}

.single-post {
  top: 5em;
}

::-webkit-input-placeholder {
   text-align: center;
}

table {
  background: rgba(255,255,255,0.3);
  width:100%;
  padding:10px;
}

table td {
  border-top: 1px solid rgb(130, 157, 160);
}


#edit_buttons {
  float: right;
}
