// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likes {
  position: relative;
  left: 20%;
}

.user-posts, .liked-posts, .liked-comments {
  float: left;
  display: block;
  width: 20%;
}

.new-user  {
  opacity: 1;
  font-size: 1em;
  height: 50px;
  text-decoration: none;
  border: solid rgb(75, 78, 79) .190em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .2em;
  color: black;
  width: 40%;
  margin: 10px;
}


.sign-up-container{
  text-align: center;

}

.user-input {
  width: 40%;
  margin:10px;
  height: 40px;
}
