<!DOCTYPE html>
<html>
<head>
  <title>Anonymous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
